body {

}
.navbar-section.navbar-default {
    background-color: #001e42;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 5%);
    border-bottom: 0;
}

.navbar-section {
    transition: all 0.8s;
    margin-bottom: 0;
}
.navbar-nav {
    display: -ms-flexbox;
    display: inline-flex!important;
    -ms-flex-direction: inherit!important;
    flex-direction: inherit!important;
    /* padding-left: 0; */
    margin-bottom: 0;
    list-style: none;
}
.navbar {
    padding:0!important;
}
.logo {
    margin: 0px 0px 0px 0px;
    background-color: white;
    padding: 10px 30px 10px 30px;
    position: relative;
}
.navbar-section a.navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    font-weight: 900;
    display: block;
}
.exo-menu {
    width: 100%;
    float: left;
    list-style: none;
    position: relative;
    background: #00397e;
    margin: 0;
}
.exo-menu > li > a {
    text-transform: uppercase;
    color: rgba(255,255,255,1.0);
    font-size: 14px;
    padding: 10px 20px;
    position: relative;
    display: block;
    border-right: 1px solid #4d627b;
}
/*menu class*/
    .Header-menu {
    width: 100%;
    float: left;
    list-style: none;
    position: relative;
    background: #00397e;
    margin: 0;
}
    .Header-menu > li {
        display: inline-block;
        float: left;
    }
        .Header-menu > li > a {
            text-transform: uppercase;
            color: rgba(255,255,255,1.0);
            font-size: 14px;
            padding: 10px 20px;
            position: relative;
            display: block;
            border-right: 1px solid #4d627b;
        }
    .Header-menu .mega-drop-down em {
        font-style: normal;
        margin-left: 10px;
    }
.topnav-indsis {
/*    position: absolute;
*/    top: 15px;
    left: 30%;
    z-index: 9;
    margin-top:15px;
}
    .topnav-indsis li {
        display: inline-block;
        color: #fff;
        margin-right: 40px;
        text-transform: uppercase;
    }
.side-menu {
    list-style: none;
    position: absolute;
    right: 5px;
    bottom: -10px;
}
.topnav li {
    display: inline-block;
}
.main-header{
    display:flex;
}
@media (min-width: 770px) {
    .navbar-header {
        float: left;
    }
}
@media (min-width: 1023px){
    .exo-menu > li > a {
        display: block;
    }
}

/*owl-carousel*/
.slic-slider-section"{
    padding: 0 15px;
    overflow: hidden;
        background-color: #001e42;
}
.slic-slider-section .sliders{

    width: 100%;
    background-color: #001e42;
}


.your-class span a i em {
    background: url(https://www.alankit.co.in/img/rsrch.png)

}
.market_section h4 ,.stock_section h4{
    display: block;
    overflow: hidden;
    font-size: 26px;
    border-bottom: 1px solid #ccc;
    color: #838383;
    padding-bottom: 10px;
}
.heading{
        border-bottom: 1px dashed #ccc;
    margin-bottom: 0px;
}

.ResearchAnalysis {
    padding: 40px 0;
    background: url(https://www.alankit.co.in/img/research_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.ResearchAnalysis .Section-title h2 {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    color: #fff;
  
}
.ResearchAnalysis .Section-title p {
   
    position: relative;
    color: #fff;
    text-align: left;
  
}
.ResearchAnalysis .section-title h2:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 5px;
    content: "";
    background: #ff6401;
}
.Section-title{
      text-align: center;
}
.report-block {
    background: rgba(0,0,0,0.50);
    display: block;
    padding: 40px 20px;
    text-align: left;
    color: white;
}
.report-block span {
    background: #fff;
    margin-bottom: 10px;
    display: inline-block;
    color: black;
    font-size: 12px;
    padding: 2px 5px;
}
.report-block p {
    color: : #fff;
     font-size: 12px;
}
.img1 {
  
    background: url(https://www.alankit.co.in/img/rech1.jpg) no-repeat;
       display: inline-flex;
    height: 300px;
    width: 100%;
}
.img2 {
  
    background: url(https://www.alankit.co.in/img/rechExp.jpg) no-repeat;
       display: inline-flex;
    height: 300px;
    width: 100%;
}
.image-section{
    display:flex;
}
.footer-text{
padding: 20px;
color: rgba(255,255,255,0.40);"
}
.list-unstyled li >a{
  color: rgba(255,255,255,0.40);"  
}
.list-unstyled li >a:hover{
  color: rgba(255,255,255,0.40);"  
}

